html, body {
  margin: 0;
  padding: 0;
  padding-top: 70px;
}

body {
  font-family: "Poppins", sans-serif;
  color: #f0f0f0;
  background-color: #1e1e1e; 
  overflow-x: hidden;
}

/* Navbar */
.navbar {
  background: rgba(0, 0, 0, 0.2); 
  backdrop-filter: blur(10px); 
  border-radius: 40px;
  padding: 10px 30px;
  margin: 20px auto;
  margin-bottom: 2rem;
  width: fit-content;
}

.navbar-brand {
  font-weight: 700;
}

.nav-link {
  color: #ffffff;
  margin-right: 20px;
}

.nav-link:hover {
  color: #4b6cb7;
}

.btn-primary {
  background-color: #4c64ea;
  border: none;
  border-radius: 50px;
  padding: 10px 20px;
}

.btn-primary:hover {
  background-color: #3b52cc;
}

.btn-outline-light {
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #4c64ea;
  border-radius: 50px;
  padding: 10px 20px;
}

.btn-outline-light:hover {
  background-color: #4c64ea;
}

/* Hero */
.hero {
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #1e1e1e;
  background-attachment: fixed;
  background-size: cover;
  background-position: center 20%;
}

.hero-offset {
  margin-left: 400px; 
}

@media (max-width: 768px) {
  .hero-offset {
    margin-left: 0; 
  }
}

.hero .badge {
  background-color: #0000000f;
  color: #4b6cb7;
  padding: 6px 12px;
  border-radius: 50px;
  font-size: 12px;
 
}
.image-wrapper {
  width: 280px;
  height: 280px;
  border-radius: 100%;
  background: radial-gradient(circle at center, #4b6cb7 40%, #0a0a23 100%);
  padding: 10px;
  margin: 0 auto;
  box-shadow: 0 0 30px rgb(75, 107, 183);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  
}

.hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.495);
}

/* Animation d'écriture pour le nom */
@keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}


.hero-section h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  border-right: 0.1em solid transparent;
  animation: typing 3s steps(30) 1s forwards;
  animation-delay: 0s;
}

.hero-section h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}


.hero p {
  font-size: 18px;
  max-width: 800px;
  margin-top: 20px;
}



/* Icônes */
.social-icons {
  margin-top: 40px;
  
}

.social-icons a {
  transition: transform 0.3s ease, color 0.3s ease;
}

.social-icons a:hover {
  color: #4b6cb7 !important; 
  transform: scale(1.2);
}



.social-icon
.typewriter {
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  animation: typing 3s steps(20, end) forwards;
  font-size: 2.5rem;
  color: white;
  border: none; 
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
.social-icons a {
  color: #4c64ea;
  font-size: 32px;
  margin: 0 10px;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #fff;
}

h2, h3, h5 {
  color: #4b6cb7;
}

h1 { 
  color: #a1a1a1;
}

h2 {
  text-align: center;
  position: relative;
  margin: 0 auto;
  margin-top: 4rem;
}

h2::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 2px;
  background-color: #4b6cb7;
}

h5 {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

.typing-effect {
  font-size: 2em;
  font-weight: bold;
  color: #333;
  display: inline-block;
  border-right: 3px solid #333;
  padding-right: 5px;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  animation: typing 4s steps(30) 1s forwards, blink 0.75s step-end infinite;
}

@keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

p.typing-effect {
  animation: typing-text 5s steps(25) 1s forwards, blink 0.75s step-end infinite;
}

@keyframes typing-text {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.typing-effect {
  animation: typing 4s steps(30) 1s forwards;
  border-right: 3px solid transparent;
}

.section {
  padding: 80px 20px;
  color: #fff;
  background: #1e1e1e; 
}

.section.bg-dark {
  background: #1e1e1e;
}

#apropos .container {
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  margin-top: 110px;
}

.apropos-image img {
  width: 100%;
  max-width: 400px;
  border-radius: 12px;
  object-fit: cover;
}
.apropos p {
  font-size: 18px;
  max-width: 800px;
  margin-top: 20px;
}

.bg-primary {
  background-color: #344a7e7e !important; 
}

.apropos-content {
  max-width: 500px;
  text-align: left;
}

.apropos-skills {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  margin-bottom: 30px;
}

.apropos-skill {
  background: #1e1e1e; /* corrigé */
  padding: 10px 20px;
  border-radius: 8px;
  text-align: center;
  font-weight: bold;
  color: #ffffff;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.apropos-text {
  color: #d0d0d0;
  line-height: 1.6;
  margin-bottom: 20px;
}


.cv-button {
  display: inline-block;
  background-color: #4b6cb7;
  color: white;
  padding: 10px 20px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 600;
  transition: background 0.3s;
}

.cv-button:hover {
  background-color: #354c80;
}

.projets-section {
  text-align: center;
  padding: 4rem 2rem;
  background-color: #1e1e1e;
  color: #fff;
}

.projets-filtres {
  display: flex;
  justify-content: center; 
  align-items: center; 
  gap: 0; 
  flex-wrap: wrap; 
  
}
#filtre-select {
  width: 150px;
  max-width: 100%; 
  padding: 0.375rem 0.75rem; 
  font-size: 1rem; 
  background-color: #1e1e1e;
  color: #4b6cb7;
}
#filtre-select,
#filtre-valider {
  width: 150px;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.375rem; 
}

.projets-filtres .filtre {
  
  background: transparent;
  border: 1px solid #4b6cb7;
  color: #fff;
  margin: 0 1rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
}

.projets-filtres .actif {
  background-color: #4b6cb7;
  border-radius: 20px;
}



.projets-grille {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
}


.projets-grille {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 2rem;
}


@media (max-width: 992px) {
  .projets-grille {
    grid-template-columns: repeat(2, 1fr);
  }
}


@media (max-width: 576px) {
  .projets-grille {
    grid-template-columns: 1fr; 
  }

  
  .projet-carte img {
    width: 100%;
    height: auto;
  }

  .projet-info {
    padding: 1rem;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.projet-carte {
  background-color: #2a2a2a;
  border-radius: 1rem;
  width: 23rem;
  height: 18rem;
  margin-top: 3rem;
  overflow: hidden;
  text-align: center;
  transition: 
    opacity 0.3s ease, 
    visibility 0.3s ease, 
    transform 0.3s ease, 
    box-shadow 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  opacity: 0;
  animation: fadeInUp 0.5s ease forwards;
  
  
}


.projet-carte:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.projet-carte.hidden {
  visibility: hidden;
  opacity: 0;
}

.projet-carte img {
  width: 50%;
  height: auto;
  margin-top: 30px;
}

.projet-info {
  padding: 1rem;
}

.badge {
  display: inline-block;
  background: #333;
  border-radius: 10px;
  padding: 0.25rem 0.75rem;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

.voir-plus {
  display: inline-block;
  margin-top: 1rem;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}




#formations .col-md-4 {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 30px;
}

.bg-dark-blue {
  background-color: #1f2a40; 
}

#skills .skill-box {
  background-color: #1f2a40;
  padding: 20px 14px;
  border-radius: 16px;
  font-size: 0.9rem;
  max-width: 360px;
  margin: auto;
  min-height: 460px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
  position: relative;
}


#skills .skill-box h5 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  font-weight: 700;
  margin-top: 2rem;
  position: absolute;
  left: 50%;
  top: 0; 
  transform: translateX(-50%);
}


#skills .skill-box p {
  margin-bottom: 20px; 
  line-height: 1.4;
  font-size: 0.95rem;
}


#skills i {
  color: #4b6cb7;
  font-size: 2rem; 
  margin-bottom: 0.5rem;
}

.carousel-wrapper {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 300px;
  perspective: 1000px;
  margin-bottom: 10rem;
}

.carousel-slide {
  position: absolute;
  width: 300px;
  height: 100%;
  transition: transform 0.5s ease, opacity 0.5s;
  cursor: pointer;
  opacity: 0.5;
  transform: scale(0.8);
  z-index: 1;
}

.carousel-slide.center {
  transform: translateX(0) scale(1);
  opacity: 1;
  z-index: 3;
}

.carousel-slide.left {
  transform: translateX(-320px) scale(0.8);
  z-index: 2;
}

.carousel-slide.right {
  transform: translateX(320px) scale(0.8);
  z-index: 2;
}





.carousel-slide .skill-box {
  background: #222;
  color: white;
  padding: 2rem;
  border-radius: 10px;
}


.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 3rem;
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.carousel-control-prev {
  left: 0;
}

.carousel-control-next {
  right: 0;
}


.card {
  background: #4c64ea23; 
  color: white;
  border: none;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
  height: 100%;
}

.card:hover {
  transform: translateY(-5px);
}

#contact-float {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #4b6cb7;
  color: white;
  border-radius: 8px;
  width: 80px;
  padding: 20px;
  cursor: pointer;
  text-align: center;
  font-size: 1.5rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: transform 0.3s ease;
}

#contact-float:hover { 
  transform: scale(1.05);

}
@keyframes zoomFadeIn {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
#contact-box {
  display: none;
  position: fixed;
  bottom: 90px;
  right: 30px;
  background: #1e1e1e; 
  padding: 20px;
  width: 400px;
  max-width: 90%;
  margin-bottom: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  animation: zoomFadeIn 0.4s ease forwards;
 
}


#contact-box p {
  color: #fff;
  display: block;
  margin-top: 10px;
}

#contact-box .contact-close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 1.5rem;
  cursor: pointer;
}

.modal-content {
  background-color: #1e1e1e;
  color: #a1a1a1;
}

.modal-content h5 {
  color: #fff;
}

.modal-title {
  color: #4b6cb7;
}

.btn-close {
  filter: invert(1);
}

.btn {
  background-color: #4b6cb7;
  border: 1px solid #354c80;
}

.btn:hover {
  background-color: #354c80;
  border: 1px solid #354c80;
}

@media (max-width: 768px) {
  .hero h1 {
    font-size: 2.5rem;
  }

  .hero p {
    font-size: 1rem;
  }

  .hero img {
    margin-top: 30px;
  }

  .btn-custom,
  .linkedin-btn {
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    display: block;
  }

  #contact-box {
    width: 90%;
    right: 5%;
  }
}



